.container {
      overflow-x: hidden;
      margin-top: 50;
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-around;
      padding-right: 0;
      padding-left: 0;
      flex-wrap: wrap;
    };
