.view {
  background-image: url('https://i.dlpng.com/static/png/5026376-light-blue-baby-background-baby-pattern-light-background-image-baby-background-960_686_preview.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

h6 {
  line-height: 1.7;
}

i {
  color: #9e9e9e !important;
}
